[alias]
	unstage = reset HEAD --
	uncommit = reset HEAD~
	untrack = update-index --assume-unchanged
	track = update-index --no-assume-unchanged
	retrack = update-index --no-assume-unchanged
	drop = reset --hard
	set-remote = remote set-url origin
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[core]
	hooksPath = .githooks
[init]
	defaultBranch = main
[pager]
	branch = false
	diff = false
[user]
	email = EMAIL
	name = NAME
