[user]
	name = hengtseChou
	email = hankthedev@gmail.com
[alias]
	unstage = reset HEAD --
	uncommit = reset HEAD~
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[core]
	hooksPath = .githooks
[init]
	defaultBranch = main
[pager]
	branch = false
